@import "@mantine/core/styles.css";

/* Local fonts */
@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjo.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjoBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjoExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: "NanumMyeongjo", serif;
}
